@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.center {
  width: 22rem;
  height: 22rem;
  position: absolute;
  margin-top: 16rem;
  margin-left: 20rem;
  transform: translate(-50%, -50%);
}
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(120, 122, 145, 0.5);
  border: 0.5px solid black;
  border-radius: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  cursor: pointer;
}
.wave {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  position: absolute;
  top: 110%;
  height: 200%;
  width: 200%;
  border-radius: 38%;
  left: -50%;
  transform: rotate(360deg);
  transition: all 5s ease;
  animation: wave 65s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
.circle:hover .wave {
  top: 0%;
  transition: all 60s ease;
  /* you can change the secs to make it slower */
}
.text {
  position: absolute;
  margin-left: 5.5rem;
  margin-top: 8.8rem;
  z-index: 10;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  color: white;
}
/* .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 0rem;
}
.pause_button {
  width: 70px;
  height: 23px;
  background-color: aqua;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.play_button {
  width: 70px;
  height: 23px;
  background-color: aqua;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}
.reset_button {
  width: 70px;
  height: 23px;
  background-color: aqua;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
} */
.button1 {
  padding: 0.7rem 5rem;
  margin: 0.7rem;
  /* margin-left: 19px; */
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-style: groove;
  cursor: pointer;
}

.button1:focus {
  outline-width: 0;
}
.button2 {
  padding: 0.7rem 5rem;
  margin: 0.7rem;
  /* margin-left: 19px; */
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-style: groove;
  cursor: pointer;
}
.button2:hover {
  background-color: rgba(189, 187, 187, 0.698);
  border: 1px solid #1b1f2b;
  color: white;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}
.row {
  display: flex;
  margin-left: 3.5rem;
}
